// Variables and generatl styling
@import "scss/vendors/reset.css";
@import "scss/variables";
@import "scss/utilities/typography";


// Componenets
@import "scss/components/navbar";
@import "scss/components/main";

// Pages
@import "scss/pages/home";




// --- General styling ---
body {
    background-color: $bg;
    font-family: 'Roboto', arial, sans-serif;
}

.container {
    width: 60%;
    margin: 0 auto;
}





// notes
// /* Media query for tablets (min-width: 768px) */
// @media screen and (min-width: $tablet) {

// }

// /* Media query for small desktops (min-width: 1024px) */
// @media screen and (min-width: $desktop) {

// }

// /* Media query for larger desktops (min-width: 1200px) */
// @media screen and (min-width: $desktop-lg) {

// }