// --- Colors ---
$bg:            #ECEFF4;
$bg-1:          #D8DEE9;
$primary:       #B48EAD;
$accent:        #5E81AC;
$text-primary:  #2E3440;
$text-secondary:#868A91;

// --- Animations ---
$animationSpeed: 1s;

// --- Breakpoints & Wrappersettings---
$tablet: 768px;
$desktop: 1920px;
$desktop-lg: 3840px;
$wrp-phone: 90%;
$wrp-tablet: 78%; //78%
$wrp-desktop: 68%; // 68%
$wrp-desktop-lg: 48%;