nav {
    padding: 2em 0 2em 0;
    z-index: 999;
    position: fixed;
    width: 100%;

    .container {
        display: flex;
        gap: 4em;
        width: 80%;
        margin: 0 auto;
    }

    .brand {
        font-weight: 700;
        font-size: 1.2em;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 2.5em;

        li {
            
            a {
                text-decoration: none;
                color: $text-primary;
                font-weight: 100;
            }

        }

        .active::before {
            border-top-style: solid;
            border-width: 2px;
            border-color: $primary;
        }
    }
}


/* Media query for tablets (min-width: 768px) */
@media screen and (min-width: $tablet) {

}

/* Media query for small desktops (min-width: 1024px) */
@media screen and (min-width: $desktop) {
    nav {

    }
}

/* Media query for larger desktops (min-width: 1200px) */
@media screen and (min-width: $desktop-lg) {

}